body{
    background:linear-gradient(to right, rgb(0, 170, 255), rgb(139, 40, 204));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container{    
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.radios{
    background-color: rgba(66, 38, 38, 0.5);
    margin-top: 30px;
    width: 20rem;
    text-align: center;
    height: 35rem;
    border-radius: 15px;
}



img{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
    margin: 15px 0px 
}